<template>
  <div>
    <img src="./assets/logo.png" alt="Vue Logo">
    <!-- Static tyope -->
    <greeting-message first-name="Phalakorn" last-name="PK"/>
    <greeting-message first-name="P" last-name="P"/>
    <greeting-message first-name="P" last-name="K"/>
    <hr>
    <!-- Dynamic Value -->
    <greeting-message :first-name="fName" :last-name="lName"/>
    <greeting-message :full-name="fullName" />
  </div>
</template>

<script>
import GreetingMessage from "./components/GreetingMessage.vue";
export default {
  name: 'App',
  data() {
    return {
      fName: 'Jhin',
      lName: 'four',
    }
  },

  computed: {
    fullName() {
      return this.fName + " " +this.lName 
    }
  },

  components: {
    GreetingMessage,
  },
};
</script>

<style>
  #app{
    text-align: center;
  }
</style>